.contact-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.contact-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.call-to-action a {
  text-decoration: none;
}

.material-symbols-outlined {
  position: relative;
  top: 5px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

/* .email-link {
  width: 200px;
  height: 30px;
  overflow: hidden;
} */

.home-page-circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgb(188, 58, 128, 0.1);
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}

.home-page-circle-2 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgb(52, 87, 178, 0.1);
  top: 15vh;
  left: 30vw;
  z-index: -1;
}

.home-page-circle-3 {
  position: absolute;
  overflow: hidden;
  width: 45vw;
  height: 45vw;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.home-page-circle-3::before {
  content: "";
  transform: translate(40%, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(52, 87, 178, 0.1);
}

@media (max-width: 900px) {
  .contact-main-section {
    flex-direction: column;
    justify-content: center;
  }
}
