*,
*::after,
*::before {
  box-sizing: border-box;
}

/*/// HOME ///*/

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: center;
  margin-top: 5em;
}

h1 {
  font-size: 3em;
  background-color: #fff;
}
/* 
.container-home {
  width: 70%;
  margin: 0 auto;
} */

.nav-bar {
  padding: 0.2em 2em;
  background-color: #000;
  display: grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
  gap: 2em;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.nav-bar-left {
  display: flex;
  gap: 2em;
}

.nav-bar-right {
  display: flex;
  justify-content: end;
  gap: 2em;
  padding-right: 2em;
}

.nav-bar a:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;

  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-bar a:hover {
  /*   color: #2193b0; */
  background-position: 0;
}

.nav-bar a:hover::before {
  width: 100%;
}

.container {
  display: flex;
  gap: 2em;
  margin: 1em 3em;
  justify-content: center;
}

.item-box {
  padding-top: 1em;
  min-width: 200px;
  max-width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.react {
  width: 150px;
}

.about {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  padding: 3em 0;
  justify-items: center;
}

.about h2 {
  margin: 0;
}

.about-text {
  background-color: #fff;
  text-align: left;
  padding-right: 8em;
}

.cart-button {
  color: #fff;
  background-color: #3399ff;
  margin: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 1em;
}

.footer {
  color: #fff;
  background-color: #000;
  margin-top: 5em;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  padding: 3em 0;
}

.footer-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*/// REGISTER ///*/

.form {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  width: 500px;
  display: flex;
  justify-content: center;
  margin: 2em auto;
  padding: 1em;
  text-align: center;
}

.languages {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.programming-languages {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-field {
  text-align: center;
  margin: 1em;
  border-radius: 1em;
}

.submit-button {
  color: #fff;
  background-color: #3399ff;
  margin: 1em;
  padding: 1em 3em;
  border: none;
  border-radius: 2em;
}

/*/// CONTENT ///*/

table {
  margin: 0 auto;
  border-spacing: 0;
  width: 70%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*/// CONTACT ///*/

.map-wrapper {
  position: relative;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  overflow: hidden;
  margin: 50px auto 50px auto;
}

.googlemap {
  width: 100%;
  height: 100%;
}

.contact {
  margin-bottom: 3em;
}

.contact a {
  text-decoration: none;
}
